body{
	background-image:url("imagenes/fondo.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color:white;
}
form{
	width: 25%;
	margin-top: 10%;
	margin-left: 34%;
	border:1px,solid ;
	border-radius: 20px;
}

fieldset{
	padding: 20px;
	border:1px,solid ;
	border-radius: 20px;
	background-color: black;
	border-color: green;
}

label{
	width: 70%;
	font-size: 20px;
}
#fin{
	position: fixed;
	margin-top: 13%;
	margin-left: 10%;
	background-color: red;
	font-style: italic;
	font-size: 25px;
	color: whitesmoke;
}
#fin:hover{
	background-color: green;
}
h2{
	text-align: center;
}
h3{
	text-align: center;
}
h4{
	text-align: center;
}
.v{
	color: darkgreen;
	font-size: 30px;
}
.y{
	color: darkorange;
	font-size: 30px;
}
.r{
	color: red;
	font-size: 30px;
}
.fine{
	position: fixed;
	margin-top: 13%;
	margin-left: 5%;
	background-color: green;
	font-style: italic;
	font-size: 25px;
	color: whitesmoke;
}
.fine:hover{
	background-color: red;
}

img{
	width: 190px;
	height: auto;
	margin-top: 10%;
	margin-left: 63%;
	border-radius: 500px;
}