body{
	text-align: center;
	background-color: #1669;
	color: whitesmoke;
}
fieldset{
	margin: auto;
	text-align: center;
	width: 40%;
	font-size: 30px;
}
option{
	font-size: 20px;
}
select{
	font-size: 20px;
	padding-left: 20px;
}
legend{
	text-align: right;
	background-color: white;
	color: #166974;
	font-size: 30px;
}
.envi{
	margin-top: 20px;
}