body{
	background-image:url("imagenes/fondo.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color:white;
}
a{
	color:white;
	text-decoration: none;
	margin-left: 42%;
}
h1{
	text-align:center;
	margin-top:10%;
	font-style:italic;
	font-size:50px;
}
.p1{
	margin-left:25%;
	margin-top:7%;
	font-size:40px;
	display:inline-block;
}
.p2{
	margin-left:30%;
	font-size:40px;
	display:inline-block;
}
.p3{
	margin-left:28%;
	font-size:20px;
	display:inline-block;
}
.p4{
	margin-left:35%;
	font-size:20px;
	display:inline-block;
}
.p5{
	padding:10px;
	width:54%;
	background-color:#F35757;
	margin-left:30%;
	font-size:25px;
	color:white;
}